
# ENVIRONMENT
env="production"
# Use "development" for development environment, "test" for testing

# SERVER
PORT=3000
HOST="127.0.0.1"

# DB

# Database config (PostgreSQL example)
# DB_HOST="localhost"
# DB_PORT=5432
# DB_NAME="node_express_db"
# DB_USER="db_username"
# DB_PASSWORD="db_password"
# DB_DIALECT="postgres"

# Database config (SQLite example)
DB_DIALECT="sqlite"
DB_STORAGE="./data/database.sqlite"

# JWT
JWT_SECRET="some-supersecret-secret"
JWT_ACCESS_TOKEN_EXPIRES_IN="30m"
JWT_REFRESH_TOKEN_EXPIRES_IN="7d"